* {
    box-sizing: border-box;
    font-family : Verdana;
    color: white;
    background-color: black;
    text-align : center;

}
h1 {
    font-size: 50px; 
    font-weight : normal; 
}
a {
    font-size : 16px;
    color: aquamarine;
    text-decoration: underline;
}
h2 {
    font-size: 42px;
    font-weight: 300;
}
p {
    font-size: 21px;
    color: gray;
}
footer {
    margin-top: 30px;
}
footer p{
    text-align: right;
}